@model WebAtividadeEntrevista.Models.FormModel
@using WebAtividadeEntrevista.Models

@using (Html.BeginForm("Incluir", "Cliente", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Nome, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Sobrenome, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.CPF, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.CPF, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Nacionalidade, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.CEP, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.CEP, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Estado, new { htmlAttributes = new { @class = "" } })

                @Html.DropDownList("Estado",
                    new SelectList(Enum.GetNames(typeof(StateEnum))),
                    "Estado",
                     new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Cidade, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Cidade, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Telefone, new { htmlAttributes = new { @class = "" } })
                @Html.EditorFor(m => m.Telefone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Beneficiários</button>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" id="btnIncluirCliente" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>


}

@section scripts{
    <script>
    var urlAlteracao = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
    var urlClienteList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/listBeneficiarios")
}

<!-- Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form id="formCadastro" method="post">

                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ModalNome">Nome:</label>
                                <input required="required" type="text" class="form-control" id="ModalNome" name="ModalNome" placeholder="Ex.: João" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ModalCPF">CPF:</label>
                                <input required="required" type="text" class="form-control" id="ModalCPF" name="ModalCPF" placeholder="Ex.: 010.011.111-00" maxlength="14">
                            </div>
                        </div>
                        <div class="col-md-4 button-center" style="height:13vh;">
                            <button type="submit" class="btn btn-success" id="btnIncluirBenef">Incluir</button>
                        </div>
                    </div>
                </form>
                <table id="gridBeneficiarios" class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
